<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pnptv.Properties.Settings.DACHBOARD" connectionString="Provider=LCPI.IBProvider.3;Data Source=fb20222;Password=masterkey;User ID=SYSDBA;Location=fb20:c:\share\DACHBOARD2.GDB;auto_commit=True;auto_commit_level=4096;named_param_prefix=@;dbclient_type=fb.direct;ctype_user=WIN1251;ctype_none=WIN1251;named_param_rules=1"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>